/*Fuentes
font-family: 'Cormorant Garamond', serif;*/

/*Paleta de colores banner
rgb(204, 119, 152)(rosa oscuro)
rgb(209, 105, 127)(rosa)
rgb(209, 177, 192)(rosa claro)
rgb(75, 138, 156)(turquesa)
rgb(60, 123, 138)(turquesa oscuro)
*/
body {
  font-family: 'Cormorant Garamond';
}
button, .btn {
  background-color: #fff;
  border: 2px solid #713c34;
  border-radius: 30px;
  box-shadow: #713c34 3px 3px 0 0;
  color: #e29dba;
  cursor: pointer;
  display: inline-block;
  font-weight: 600;
  font-size: 17px;
  padding: 0 18px;
  height: 45px;
  line-height: 30px;
  text-align: center;
  text-decoration: none;
  user-select: none;
  -webkit-user-select: none;
  touch-action: manipulation;
}

@media (min-width: 768px) {
  .button {
    min-width: 120px;
    padding: 0 25px;
  }
}

.elements-navbar {
  width: 3%;
}
.mat-card {
  border-radius: 35px;
  margin: 8px 8px;
  padding: 20px;
  border-color: rgb(250, 215, 250);
}
section {
    font-size: large;
    font-weight: bolder;
}
h3 {
    font-weight: bold;
}
h4 {
    font-weight: bold;  
}
h5 {
    font-size: x-large;
    font-weight: bold;
}
ul {
list-style: none;
}

a:link{
    color: rgb(247, 166, 204);
    font-weight: 100;
  } 
